body{
    margin-left: 5%;
}
ol{
    font-size: 20px;
}
th,td{
    border: 2px solid gray;
    padding-left: 15px;
    padding-right:15px;
}
table{
    border-collapse: collapse;
}
th{
    padding-bottom:12px;
    paddin
}